@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6271 Capstone Way <br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Admission Team:</strong>   <a href="mailto:Support@example.com">admission@example.com</a><br />
    <strong>Financial Aide:</strong> <a href="mailto:Marketing@example.com">financial@example.com</a>
</address>