@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Capstone College</h1>
    <p class="lead">Capstone College has been rated number #5 since 1990 and we aren't planning to lose that streak.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started:</h2>
        <p>
            You'll be able to add a state to a local database. Please go to the GitHub link and obtain the repository.
        </p>
        <p><a class="btn btn-default" href="https://github.com/CrystalWernicke/CapstoneCollegeSystem">GitHub Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What it does now:</h2>
        <p>Right now, you can enter a state into the database and then be able to view it as a list.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's planned?:</h2>
        <p>Registration for users (faculty/student) and registering for courses</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>